.row
  .col.s12
    %h1.center-align #{@student.name}'s Profile

.row
  .col.s6.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title #{@student.name}
        %p= @student.email
        %p [ENROLLMENTS PLACEHOLDER]
      - if logged_in? && current_user == @student
        .card-action
          = link_to 'Edit', edit_student_path(@student)
