@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-content--min-height {
  min-height: 165px;

  .card-title {
    min-height: 65px;
  }
}

.message-close-button {
  cursor: pointer;
}
